<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Central de Instrumentos - ULS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>MongoDB Flask App</h1>
    <hr>
    <div class="content centered-content">
        <a href="{{ url_for('view_students') }}" class="button-link">Ver Estudiantes</a>
        <a href="{{ url_for('view_instruments') }}" class="button-link">Ver Instrumentos</a>
        <a href="{{ url_for('view_teachers') }}" class="button-link">Ver Profesores</a>
        <a href="{{ url_for('view_prestamos') }}" class="button-link">Ver Prestamos Eventuales</a>
        {% if error %}
            <div class="error">{{ error }}</div>
        {% endif %}
    </div>
</body>
</html>
