<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prestamos Eventuales</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $(".details-button").click(function() {
                $(this).siblings(".details").slideToggle();
            });
        });
    </script>
</head>
<body>
    <h1>Prestamos Eventuales</h1>
    <div class="content">
        {% for prestamo in prestamos %}
            <div class="prestamo-card">
                <hr>
                <h2>Prestamo - {{ prestamo.numserieinst }}</h2>
                <button class="details-button">Detalles</button>
                <div class="details">
                    <div class="section-title">Información del Préstamo</div>
                    <div class="section-content">
                        <p><strong>Num Serie Instrumento:</strong> {{ prestamo.numserieinst }}</p>
                        <p><strong>Fecha de Inicio:</strong> {{ prestamo.fechaInicio }}</p>
                        <p><strong>Fecha de Termino:</strong> {{ prestamo.fechaTermino }}</p>
                    </div>

                    <div class="section-title">Información del Encargado</div>
                    <div class="section-content">
                        <p><strong>Nombre:</strong> {{ prestamo.encargado.nombreDePila }} {{ prestamo.encargado.apellido1 }} {{ prestamo.encargado.apellido2 }}</p>
                    </div>

                    <div class="section-title">Información del Estudiante</div>
                    <div class="section-content">
                        <p><strong>Nombre:</strong> {{ prestamo.estudiante.nombreDePila }} {{ prestamo.estudiante.apellido1 }} {{ prestamo.estudiante.apellido2 }}</p>
                        <p><strong>Carrera:</strong> {{ prestamo.estudiante.carrera }}</p>
                        <p><strong>Email:</strong> {{ prestamo.estudiante.email }}</p>
                        <p><strong>Teléfono:</strong> {{ prestamo.estudiante.telefono }}</p>
                    </div>

                    {% if prestamo.instrumento %}
                        <div class="section-title">Información del Instrumento</div>
                        <div class="section-content">
                            <p><strong>Nombre:</strong> {{ prestamo.instrumento.nombre }}</p>
                            <p><strong>Marca:</strong> {{ prestamo.instrumento.marca }}</p>
                            <p><strong>Estado:</strong> {{ prestamo.instrumento.estado }}</p>
                            <p><strong>Avaluo:</strong> $ {{ prestamo.instrumento.avaluo }}</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</body>
</html>
